block footer
    .row.footer-menu
        .large-10.columns.small-centered
            ul.large-block-grid-4.medium-block-grid-4.small-block-grid-2
                li
                    ul.no-bullet
                        li.heading
                            p Overview
                        li
                            a(href="/about-us.html") About us
                        li
                            a(href="/features.html") Features
                        li
                            a(href="/examples.html") Examples
                li
                    ul.no-bullet
                        li.heading
                            p Developers
                        li
                            a(href="http://docs.handsontable.com") Documentation
                        li
                            a(href="/support-services.html") Support services
                        li
                          a(href="/community.html") Community
                li
                    ul.no-bullet
                        li.heading
                            p Legal
                        li
                          a(href="/licensing.html") Licensing
                        li
                            a(href="/credits.html") Credits
                li
                    ul.no-bullet
                        li.heading
                            p Contact
                        li
                            p Handsoncode
                        li
                            a(href="/contact-us.html") Contact us
                        li
                            a(href="https://twitter.com/handsontable", target="_blank") Twitter
                        li
                          a(href="https://github.com/handsontable/handsontable.com/issues/new", target="_blank") File a bug
    .row.copyright
        .large-12.columns.small-centered
            ul.small-block-grid-2
                li.text-left
                  a(href="/about-us.html")
                    img(data-interchange="[#{data.baseUrl}images/handsoncode-logo.png, (default)], [#{data.baseUrl}images/handsoncode-logo-retina.png, (retina)]",
                    src="#{data.baseUrl}images/handsoncode-logo.png", alt="Handsoncode")
                li.text-right
                    span
                        | All trademarks belong to their respective owners. &nbsp;&nbsp;Handsoncode &copy; #{""}
                        script
                            document.write( new Date().getFullYear() );
