extends ../layouts/base

block variables
    page_name = "Credits"
    page_class = "credits"
    page_subclass = "subpage"
    title = "Credits"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .plain-details
        .row
            .large-12.columns
                ul.large-block-grid-2.medium-block-grid-1.small-block-grid-1
                    li
                        h2.mhead Thanks to all our supporters #{""}
                            i.fa.fa-heart
                        hr
                        p.pgraph
                            dl
                                dt People
                                dd
                                    ul.square
                                        li
                                            a(href="https://github.com/handsontable/handsontable/graphs/contributors", target="_blank") Contributors #{""}
                                            | to Handsontable for the feedback and support
                                        li
                                            a(href="http://bittitan.com/", target="_blank") Dominic Pouzine, #{""}
                                            a(href="http://circuithub.com/", target="_blank") Andrew Seddon, #{""}
                                            a(href="http://plot.ly/", target="_blank") Jack Parmer, #{""}
                                            a(href="http://visible.vc/", target="_blank") Mike Preuss, #{""}
                                            a(href="http://aviarc.com/", target="_blank") Jaroslav Benc #{""}
                                        | for testimonials
                                        li
                                            a(href="http://kalzumeus.com/", target="_blank") Patrick McKenzie #{""}
                                            | & others for generous donations
                                        li
                                            a(href="http://maciejlaskowski.com.pl/", target="_blank") Maciej Laskowski #{""}
                                                | for team photos
                                        li
                                            a(href="http://infdesign.pl/", target="_blank") Mateusz Waliszewski #{""}
                                                | for logo
                                        li
                                            a(href="http://www.linkedin.com/profile/view?id=240949419", target="_blank") Martin Olszewski #{""}
                                                | for text correction
                            dl
                                dt Resources
                                dd
                                    ul.square
                                        li
                                            a(href="http://foundation.zurb.com/", target="_blank") Foundation
                                        li
                                            a(href="http://fortawesome.github.io/Font-Awesome/", target="_blank") Font Awesome
                                        li
                                            a(href="http://www.google.com/fonts/", target="_blank") Google Fonts
                            dl
                                dt Software
                                dd
                                    ul.square
                                        li
                                            a(href="http://jetbrains.com/webstorm/", target="_blank") WebStorm
                                        li
                                            a(href="http://redbooth.com", target="_blank") Redbooth
                                        li
                                            a(href="http://trello.com/", target="_blank") Trello
                            dl
                                dt Technology and scripts
                                dd
                                    ul.square
                                        li
                                            a(href="http://jade-lang.com/", target="_blank") Jade
                                        li
                                            a(href="http://cabinjs.com/", target="_blank") CabinJS
                                        li
                                            a(href="http://gruntjs.com/", target="_blank") Grunt
                                        li
                                            a(href="http://sass-lang.com/", target="_blank") SASS
                                        li
                                            a(href="http://usejsdoc.org/", target="_blank") JSDoc