extends ../layouts/base

block variables
    page_name = "Examples"
    page_class = "examples"
    page_subclass = "subpage"
    title = "Examples"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .examples-details
        .row
            .large-12.columns.text-center
                h2.mhead Simplicity in action
                h3.shead
                    a(href="") Get started #{""}
                    | and deploy apps with ease
                #example-filters.text-center
                    dl.tabs(data-tab="", data-options="deep_linking:true; scroll_to_content:false")
                        dd.active(name="basic")
                            a(href="#basic") Basic
                        dd(name="advanced")
                            a(href="#advanced") Advanced
                        dd(name="personal")
                            a(href="#personal") Personal
                        dd(name="finance")
                            a(href="#finance") Finance
                        dd(name="science")
                            a(href="#science") Science
                        dd(name="sport")
                            a(href="#sport") Sport
                    .tabs-content
                        #examples

                        #basic.content
                        #advanced.content
                            p Source of data: #{""}
                                a(href="https://www.quandl.com/c/demography/total-population-by-country", target="_blank") https://www.quandl.com/c/demography/total-population-by-country #{""}
                                    i.fa.fa-external-link
                        #personal.content
                        #finance.content
                            p Source of data: #{""}
                                a(href="https://www.quandl.com/c/markets/bitcoin-data", target="_blank") https://www.quandl.com/c/markets/bitcoin-data #{""}
                                    i.fa.fa-external-link
                        #science.content
                            p Source of data: #{""}
                                a(href="https://plot.ly/~JStevens/0/an-age-distribution-for-scientific-genius", target="_blank") https://plot.ly/~JStevens/0/an-age-distribution-for-scientific-genius #{""}
                                    i.fa.fa-external-link
                        #sport.content
                            p Source of data: #{""}
                                a(href="http://www.forbes.com/nba-valuations/list", target="_blank") http://www.forbes.com/nba-valuations/list  #{""}
                                    i.fa.fa-external-link
