extends ../layouts/base

block variables
    page_name = "Features"
    page_class = "features"
    page_subclass = "subpage"
    title = "Features"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .features-details
        .row
            .large-12.columns.text-center
                h2.mhead Discover powerful features
                h3.shead and #{""}
                    a(href="http://developer.handsontable.com/get-started") learn #{""}
                    | how to implement them without a hassle
                ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
                    li
                        i.fa.fa-rocket.fa-3x.fa-flip-horizontal
                        h4 Peak performance
                        p
                            | Clean code without dependencies allows you to interact with datasets ranging from 1 to 1 mln rows.
                    li
                        i.fa.fa-table.fa-3x
                        h4 Excel-like appearance
                        p
                            | Appearance similar to Excel's allows you to present data in the desired way right on the spot. Edit CSS file if you need a customized display.
                    li
                        i.fa.fa-plug.fa-3x
                        h4 Easy data integration
                        p
                            | Maximize the value of your data by playing with it in real time. Integrate to any data source using flexible API.
                    li
                        i.fa.fa-arrows-h.fa-3x
                        h4 Virtual pagination
                        p
                            | Divide large amount of data into pieces and display small chunks of it in a user friendly way.
                    li
                        i.fa.fa-terminal.fa-3x
                        h4 Native, clean JavaScript
                        p
                            | Lack of dependencies means the code works at its finest and is easy to implement in various enviroments.
                    li
                        i.fa.fa-calculator.fa-3x
                        h4 Formula support
                        p
                            | Integrates wth our plugin, #{''}
                            a(href="https://github.com/handsontable/RuleJS", target="_blank") RuleJS
                            | , which supports most of the Excel functions and calculation capabilities.
                    li
                        i.fa.fa-sort-amount-asc.fa-3x
                        h4 Sorting and grouping
                        p
                            | Helps user to shape data in accordance with different criteria. Operations are being done on the fly.
                    li
                        i.fa.fa-check-square-o.fa-3x
                        h4 Well tested
                        p
                            | There are 1000+ tests and that number is growing. They examine the code against common mistakes and logical errors.
                    li
                        i.fa.fa-tablet.fa-3x
                        h4 iPad 4 supported
                        p
                            | Tablet friendly view with dedidated UI that simplifies editing and saving data. Easy navigation using on-screen arrow buttons.
                    li
                        i.fa.fa-code.fa-3x
                        h4 Open source license
                        p
                            | We believe that giving is more important that receiving, that's why Handsontable is released under MIT license. Feel free to use it in private and commercial projects.
                    li
                        i.fa.fa-users.fa-3x
                        h4 Active community
                        p
                            | Thousands of developers use Handsontable every day. If you just stucked, ask for help on the #{""}
                            a(href="https://groups.google.com/forum/#!forum/handsontable", target="_blank") Handsontable Google Group #{""}
                            | or #{""}
                            a(a href="https://github.com/handsontable/handsontable/issues", target="_blank") open a new GitHub issue.
                    li
                        i.fa.fa-life-ring.fa-3x
                        h4 Technical support
                        p
                            | Need help, support or a new feature? We deliver projects on time and budget. #{""}
                            a(href="/contact-us.html") Let's to do something great today.