extends ../layouts/base

block variables
    page_name = "Help and Support"
    page_class = "support"
    page_subclass = "subpage"
    title = "Help and Support"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .support-details
        .row
            .large-12.columns.text-center
                h2.mhead Dedicated support for your business
                h3.shead and even more to cover all your requirements
                .row
                    .large-4.columns
                        ul.pricing-table.plan-1
                            li.title Open source
                            li.price Free
                            li.description For either private or commercial projects
                            li.bullet-item Community support
                            li.bullet-item Open source license
                            li.bullet-item Well documented
                            li.bullet-item Major browsers supported
                            li.bullet-item Web component available
                            li.cta-button
                                a.button(href="https://github.com/handsontable/handsontable/releases/latest", target="_blank") Download
                    .large-4.columns
                        ul.pricing-table.plan-2
                            .promo-badge Recommended
                            li.title Startup
                            li.price $2199
                            li.description Perfect for midsize teams and startups
                            li.bullet-item
                                strong.has-tip(data-tooltip="", aria-haspopup="true", data-options="disable_for_touch:true", title="All requests are billed in 15-minute increments") 30 hours of support
                            //li.bullet-item Up to 20 developers
                            li.bullet-item Commercial license
                            li.bullet-item 12h initial response time
                            li.bullet-item Current version supported
                            li.bullet-item Monthly fee
                            li.cta-button
                                a.button(href="/contact-us.html") Contact us
                    .large-4.columns
                        ul.pricing-table.plan-3
                            li.title Entreprise
                            li.price $3799
                            li.description For demanding IT departments
                            li.bullet-item
                                strong.has-tip(data-tooltip="", aria-haspopup="true", data-options="disable_for_touch:true", title="All requests are billed in 15-minute increments") 60 hours of support
                            li.bullet-item Commercial license
                            li.bullet-item 8h initial response time
                            li.bullet-item All versions supported
                            //li.bullet-item 1 year subscription
                            li.bullet-item Monthly fee
                            li.cta-button
                                a.button(href="/contact-us.html") Contact us
                .row.text-center.more-options
                    p
                        | Interested in one-time payment with unlimited use and license other than MIT? #{""}
                        a(href="/contact-us.html", target="_blank") Let us know
                .row.text-center.price-faq
                    h2.mhead Frequently Asked Questions
                    .large-10.large-centered.columns
                        .large-5.columns.text-left
                            h3 Can I use Handsontable for free?
                            p
                                | Sure. Feel free to download the latest version from our #{""}
                                a(href="https://github.com/handsontable/handsontable", target="_blank") GitHub repository
                            h3 Are there any additional costs?
                            p
                                | Nope, absolutely no hidden costs or legal tricks. We're strive to be as transparent as possible.
                            h3 What is the license of Handsontable?
                            p
                                | It is released under #{""}
                                a(href="http://en.wikipedia.org/wiki/MIT_License", target="_blank") MIT license #{""}
                                | so feel free to use our data grid in both private and commercial projects.
                            h3 Can I get a different license?
                            p
                                | Altough we have a ready for purchase custom licenses other than MIT you can propose your own terms and conditions to settle on, just let us know.
                            h3 Can I use Handsontable in many projects?
                            p Number of websites and projects in which you can use Handsontable is unlimited.
                            h3 Do you provide a staging server during work?
                            p
                                | Every project is specific so we don't have a single pattern on how we test and publish our work. You can provide us with access to your dev enviroment but it's not a requirement.
                            h3 How do I get in touch with you?
                            p
                                | Depending on which pricing plan you choosed we can support you by email, phone, Skype, Google Hangouts or ticketing system.
                        .large-2.columns &#160;
                        .large-5.columns.text-left
                            h3 How many issues can I report?
                            p There are absolutely no limits in the number of issues that can be reported.
                            h3 Do my unused support hours rollover to the next month?
                            p
                                | Yes, your unused hours remain accumulated for up to 2 months. You'll get from us an access to Project Managament system where you see hours spent on issues on an ongoing basis.
                            h3 Can you help with updating to the newest version?
                            p
                                | You can use your monthly hour limit to let us update your implementation of Handsontable. If the estimated effort goes beyond your plan, we can still help you, just contact us in that case.
                            h3 Can you develop a new feature for me?
                            p
                                | Yes, we'll adjust Handsontable to your needs. If the estimated workload exceeds your pricing plan we go with hourly rate of 60$.
                            h3 How do you prodive time tracking and reports?
                            p
                                | Sure, we use #{""}
                                a(href="https://redbooth.com", target="_blank") RedBooth #{""}
                                | to keep up with tasks and projects. We can set up accounts for up to five members of your organization.
        .price-contact.row-grey.text-center
            .row
                h2 Go on, we'd love to hear from you #{""}
                a.button(href="/contact-us.html") Get in touch
