extends ../layouts/base
extends ../layouts/base

block variables
    page_name = "Main page"
    page_class = "main"
    page_subclass = ""
    title = "Handsontable"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block banner
    .row
        .large-12.columns
            ul.large-block-grid-2.medium-block-grid-1.small-block-grid-1
                li
                    h1 Excel-like spreadsheet for apps
                    h2 JavaScript component with blazing fast engine
                    .banner-buttons
                        a.button.radius.get-started(href="http://docs.handsontable.com") Getting started
                        a.button.radius.download(href="https://github.com/handsontable/handsontable/releases/tag/0.15.0-beta3", target="_blank") Download v. #{data.hotVersion}
                li.text-center.show-for-large-up.handsontable-holder
                  div.intro-container
                    div#intro

block content
    .what-is
        .row
            .large-12.columns
                ul.large-block-grid-2.medium-block-grid-1.small-block-grid-1
                    li.col-left
                        h2 What is Handsontable
                        hr
                        p
                            | Handsontable is a data grid component with an Excel-like appearance. Built in JavaScript, it integrates
                            | with any data source with peak efficiency. It comes with powerful features like data validation, sorting,
                            | grouping, data binding, formula support or column ordering. Built and actively supported by #{""}
                            a(href="/about-us.html") the Handsoncode team #{""}
                            | and #{""}
                            a(href="https://github.com/handsontable/handsontable/graphs/contributors", target="_blank") the GitHub community #{""}
                                i.fa.fa-external-link
                                | , #{""}
                            | distributed free under #{""}
                            a(href="/licensing.html") the MIT license.
                            .social-buttons
                                a.twitter-follow-button(href="https://twitter.com/handsontable", data-show-count="true") Follow @handsontable
                                a.github-button(href="https://github.com/handsontable/handsontable", data-icon="octicon-star", data-count-href="/handsontable/handsontable/stargazers", data-count-api="/repos/handsontable/handsontable#stargazers_count") Star
                                a.github-button(href="https://github.com/handsontable/handsontable", data-icon="octicon-git-branch", data-count-href="/handsontable/handsontable/network", data-count-api="/repos/handsontable/handsontable#forks_count") Fork
                    li.col-right.text-center.show-for-large-up
                        p
                            | Handsontable handles large
                            br
                            | amounts of data
                        a.button#load-data(href="#") Load now 100 000 cells

    .circles.row-grey.text-center
        .row
            .large-12.columns
                ul.large-block-grid-4.medium-block-grid-4.small-block-grid-1
                    li
                        i.fa.fa-rocket.fa-4x.fa-flip-horizontal.c-red
                        h3 HIGH PERFORMANCE
                        p
                            | The virtual rendering handles up to
                            br
                            | one million rows or columns
                    li
                        i.fa.fa-code.fa-4x.c-bluegrey
                        h3 FREE AND OPEN
                        p
                            | Free for either private
                            br
                            | or commercial projects
                    li
                        i.fa.fa-table.fa-4x.c-green
                        h3 EXCEL-LIKE APPEARANCE
                        p
                            | No need to learn
                            br
                            | the interface from scratch
                    li
                        i.fa.fa-plug.fa-4x.c-bluegrey
                        h3 EASY INTEGRATION
                        p
                            | Any given data source
                            br
                            | of your choice

    .row.flavors.text-center
        .large-8.columns.small-centered
            h2 Available in many flavors
            h3 Subprojects available on GitHub
            ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
                li
                    a(href="https://github.com/handsontable/ngHandsontable", target="_blank")
                        img(src="#{data.baseUrl}images/angular-logo.png", alt="AngularJS")
                li
                    a(href="https://github.com/handsontable/hot-table", target="_blank")
                        img(src="#{data.baseUrl}images/polymer-logo.png", alt="PolymerJS")
                li
                    img(src="#{data.baseUrl}images/jquery-logo.png", alt="jQuery")

    .testimonials.row-silvergrey.text-center
        .row.text-center.pricing-testimonial
            .large-12.columns
                ul.slider(data-orbit="", data-options="timer_speed: 9000; navigation_arrows:false; slide_number: false; resume_on_mouseout: true; next_on_click: false; swipe: false;")
                    .slide-container(data-orbit-slide="1")
                        p.t-txt
                            | "If you need full Excel-like interactivity in a web app,
                            br
                            | look no further"
                        img(src="#{data.baseUrl}images/testimonials/dominic-pouzine.png", alt="Dominic Pouzine")
                        p.t-name
                            strong Dominic Pouzine
                        p.t-pos
                            | Chief Technical Officer at #{''}
                            a(href="http://www.bittitan.com", target="_blank") BitTitan

                    .slide-container(data-orbit-slide="2")
                        p.t-txt
                            | "Handsontable was the perfect fit to handle the configuration
                            br
                            | of our games straight from a spreadsheet"
                        img(src="#{data.baseUrl}images/testimonials/julio-de-la-calle.png", alt="Julio de la Calle")
                        p.t-name
                           strong Julio de la Calle
                        p.t-pos
                            | Lead JavaScript Engineer at #{''}
                            a(href="http://www.socialpoint.es", target="_blank") Social Point
                    .slide-container(data-orbit-slide="3")
                        p.t-txt
                            | "Handsontable was easy to integrate and
                            br
                            | proved to be very performant"
                        img(src="#{data.baseUrl}images/testimonials/andrew-seddon.png", alt="Andrew Seddon")
                        p.t-name
                            strong Andrew Seddon
                        p.t-pos
                            | Co-founder at #{''}
                            a(href="http://www.circuithub.com", target="_blank") CircuitHub
                    .slide-container(data-orbit-slide="4")
                        p.t-txt
                            | "Handsontable and the team behind it
                            br
                            | are the clear champions on this web frontier"
                        img(src="#{data.baseUrl}images/testimonials/jack-parmer.png", alt="Jack Parmer")
                        p.t-name
                            strong Jack Parmer
                        p.t-pos
                            | CEO at #{''}
                            a(href="http://www.plot.ly", target="_blank") Plotly
                    .slide-container(data-orbit-slide="5")
                        p.t-txt
                            | "Our users love how easy it is to enter
                            br
                            | and customize their metrics."
                        img(src="#{data.baseUrl}images/testimonials/mike-preuss.png", alt="Mike Preuss")
                        p.t-name
                            strong Mike Preuss
                        p.t-pos
                            | CEO at #{''}
                            a(href="http://www.visible.vc", target="_blank") Visible
                    .slide-container(data-orbit-slide="6")
                        p.t-txt
                            | "It has been pleasure to use Handsontable over
                            br
                            | the last year and it's really great to see how it's evolving"
                        img(src="#{data.baseUrl}images/testimonials/jaroslav-benc.png", alt="Jaroslav Benc")
                        p.t-name
                            strong Jaroslav Benc
                        p.t-pos
                            | Software engineer at #{''}
                            a(href="http://www.aviarc.com", target="_blank") Aviarc

    .get-started.row-grey.show-for-large-up
        .row
            .large-12.columns
                ul.large-block-grid-2
                    li
                        h2 Get started in just 2 steps
                        .row.step-1.step(rel="line-1")
                            .small-2.columns 1
                            .small-10.columns
                                h4 Include Handsontable CSS and JavaScript files
                                p
                                    | Make sure you're adding them properly. #{''}
                                    a(href="https://github.com/handsontable/handsontable/releases/tag/0.15.0-beta3", target="_blank") Download the latest release #{""}
                                        i.fa.fa-external-link
                        .row.step-2.step(rel="line-2")
                            .small-2.columns 2
                            .small-10.columns
                                h4 Call the Handsontable code
                                p
                                    a(href="http://docs.handsontable.com/") Learn more #{''}
                                    | how to build an app on top of your data
                        .row
                            p.text-below
                                | You can also download a package using Bower. Note that Bower requires Node, npm and Git.
                                span.highlight-box bower install handsontable
                    li
                        .row.browser
                            .address-bar view-source:your-project.com
                            .row.viewport
                                ol
                                    li.indent-1 &#60;!DOCTYPE html&#62;
                                    li.indent-1 &#60;html&#62;
                                    li.indent-2 &#60;head&#62;
                                    li.indent-3 &#60;title&#62;Handsontable&#60;/title&#62;
                                    li.indent-3.line-1 &#60;script src="/dist/handsontable.full.js"&#62;&#60;/script&#62;
                                    li.indent-3.line-1 &#60;link rel="stylesheet" href="/dist/handsontable.full.css" /&#62;
                                    li.indent-2 &#60;/head&#62;
                                    li.indent-2 &#60;body&#62;
                                    li.indent-3.line-2 &nbsp;&nbsp;&#60;div id="example"&#62; &#60;/div&#62;
                                    li.indent-3.line-2 &#60;script&#62;
                                    li.indent-4.line-2 var data = [['Column A', 'Column B', 'Column C'], ['1', '2', '3']];
                                    li.indent-4.line-2 var container = document.getElementById("example");
                                    li.indent-4.line-2 var hot = new Handsontable(container, {
                                    li.indent-5.line-2 data: data
                                    li.indent-4.line-2 });
                                    li.indent-3.line-2 &#60;/script&#62;
                                    li.indent-2 &#60;/body&#62;
                                    li.indent-1 &#60;/html&#62;
    .clients.text-center
        .row
            .large-12.columns
                h2 Used by hundreds of great companies
                ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4
                        li
                            a(href="http://starcounter.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/starcounter.png", alt="Starcounter")
                        li
                            a(href="http://bittitan.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/bittitan.png", alt="BitTitan")
                        li
                            a(href="http://plotly.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/plotly.png", alt="Plotly")
                        li
                            a(href="http://infogr.am", target="_blank")
                                img(src="#{data.baseUrl}images/logos/infogram.png", alt="Infogr.am")
                        li
                            a(href="http://burkesoftware.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/burkesoftware.png", alt="Burke Software")
                        li
                            a(href="http://circuithub.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/circuithub.png", alt="CircuitHub")
                        li
                            a(href="http://onekingslane.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/one-kings-lane.png", alt="One Kings Lane")
                        li
                            a(href="http://speedfin.pl", target="_blank")
                                img(src="#{data.baseUrl}images/logos/speedfin.png", alt="SpeedFin")
                        li
                            a(href="http://ultantechnologies.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/ultan-technologies.png", alt="Ultan Technologies")
                        li
                            a(href="http://akindi.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/akindi.png", alt="Akindi")
                        li
                            a(href="http://aviarc.com", target="_blank")
                                img(src="#{data.baseUrl}images/logos/aviarc.png", alt="Aviarc")
                        li
                            a(href="http://visible.vc", target="_blank")
                                img(src="#{data.baseUrl}images/logos/visible.png", alt="Visible")

    .try.row-dark-grey.text-center
        .row
            .large-12.columns
                h2 Ready to try Handsontable?
                a.button(href="http://docs.handsontable.com") Get started
