extends ../layouts/base

block variables
    page_name = "Pricing"
    page_class = "pricing"
    page_subclass = "subpage"
    title = "Pricing"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .pricing-details
        .row
            .large-12.columns.text-center
                h2.mhead Unleash the potential of data
                h3.shead with dedicated support for your next project
                .row
                    .large-4.medium-4.columns
                        ul.pricing-table.plan-1
                            li.title Open source
                            li.price Free
                            li.description For either private or commercial projects
                            li.bullet-item Community support
                            li.bullet-item Open source license
                            li.bullet-item Fully featured
                            li.bullet-item Well documented
                            li.bullet-item Major browsers supported
                            li.cta-button
                                a.button(href="https://github.com/handsontable/handsontable/releases/latest", target="_blank") Download
                    .large-4.medium-4.columns
                        ul.pricing-table.plan-2
                            .promo-badge.show-for-large-only Recommended
                            li.title Startup
                            li.price $2199
                            li.description Perfect for midsize teams and startups
                            li.bullet-item
                                strong.has-tip(data-tooltip="", aria-haspopup="true", data-options="disable_for_touch:true", title="All requests are billed in 15-minute increments") 30 hours of support
                            li.bullet-item Custom license
                            li.bullet-item 12h initial response time
                            li.bullet-item Current version supported
                            li.bullet-item Monthly fee
                            li.cta-button
                                a.button(href="/contact-us.html") Contact us
                    .large-4.medium-4.columns
                        ul.pricing-table.plan-3
                            li.title Enterprise
                            li.price Contact us
                            li.description For demanding IT departments
                            li.bullet-item
                                strong Full-time support
                            li.bullet-item Custom license
                            li.bullet-item Custom response time
                            li.bullet-item All versions supported
                            li.bullet-item Monthly fee
                            li.cta-button
                                a.button(href="/contact-us.html") Contact us
                .row.text-center.more-options
                    p
                        | Interested in one-time payment with unlimited use and a license other than MIT? #{""}
                        a(href="/contact-us.html") Let us know
                .row.text-center.price-faq
                    h2.mhead Frequently Asked Questions
                    .large-10.large-centered.columns
                        .large-5.medium-5.columns.text-left
                            h3 Can I use Handsontable for free?
                            p
                                | Sure, feel free to download the latest version from our #{""}
                                a(href="https://github.com/handsontable/handsontable", target="_blank") GitHub repository #{""}
                                    i.fa.fa-external-link
                            h3 Are there any additional costs?
                            p
                                | Absolutely no hidden costs or legal tricks. We strive to be as transparent as possible.
                            h3 What is the license of Handsontable?
                            p
                                | It is released under #{""}
                                a(href="http://en.wikipedia.org/wiki/MIT_License", target="_blank") the MIT license #{""}
                                    i.fa.fa-external-link
                                | #{""}
                                | so feel free to use our data grid in either private or commercial projects.
                            h3 I need a different license
                            p
                                | Although we have ready-for-purchase custom licenses other than MIT you can propose your own terms and conditions, we can be flexible.
                            h3 Can I use Handsontable in many projects?
                            p The number of websites and projects in which you can use Handsontable is unlimited.
                            h3 Do you provide a staging server during work?
                            p
                                | Every project is specific so we don't have a single pattern on how we test and publish our work. You can provide us with access to your dev enviroment but it's not a requirement.
                            h3 How do I get in touch with you?
                            p
                                | Depending on which pricing plan you choose, we can support you by email, phone, Skype, Google Hangouts or ticketing system.
                        .large-5.medium-5.columns.text-left
                            h3 How many issues can I report?
                            p There are absolutely no limits in the number of issues that can be reported.
                            h3 Do my unused support hours rollover to the next month?
                            p
                                | Yes, your unused hours remain accumulated for up to 6 months. You'll get from us an access to a ticketing system where you see hours spent on issues on an ongoing basis.
                            h3 Can you help me with upgrading Handsontable to the newest version?
                            p
                                | Yes, you can use your monthly hour limit to let us upgrade your implementation of Handsontable. If the estimated effort goes beyond your plan, we can still help you, in which case simply contact us.
                            h3 Can you develop a new feature for me?
                            p
                                | Yes, we'll tailor Handsontable to your needs. If the estimated workload exceeds your pricing plan we go with an hourly rate of 60$.
                            h3 How do you provide time-tracking and reports?
                            p
                                | We use #{""}
                                a(href="https://redbooth.com", target="_blank") RedBooth #{""}
                                    i.fa.fa-external-link
                                | #{""}
                                | to keep up with tasks and projects. We'll set up accounts for members of your organization.
        .price-contact.row-grey.text-center
            .row
                h2 Contact our sales team
                a.button(href="/contact-us.html") Get in touch
