extends ../layouts/base

block variables
    page_name = "Support services"
    page_class = "support-services"
    page_subclass = "subpage"
    title = "Support services"
    hourly_rate = "90"
    description = "Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript"

block content
    .services-details
        .row
            .large-12.columns.text-center
                ul.large-block-grid-2.medium-block-grid-2.small-block-grid-1
                    li.text-left
                        h2.mhead Support services
                        hr
                        p.pgraph
                            span
                                | At #{""}
                                a(href="/about-us.html") Handsoncode #{""}
                                | we appreciate the importance of your data.
                                | That's why we are always ready to go the extra mile to get your software done.
                                | You will get proactive guidance from an assigned engineer along with priority support.
                                | We're also opened to new oportunities not connected with our open source activity.
                                | In any case, we'd love to hear from you.
                        p.pricing-rate
                            span Hourly rate: $#{hourly_rate}
                            span Daily rate: $#{hourly_rate*8}
                    li.text-left
                        h2.mhead Custom license
                        hr
                        p.pgraph
                            span
                                | Handsontable is free and always will be. However, if you need a license other than MIT to
                                | reserve more rights to what you build upon it, we can offer you a custom license tailored individually.
                                | The commercial license comes with or without a support and allows
                                | you to use Handsontable in your software under custom conditions. #{""}
                                a(href="contact-us.html") Contact us for more details.
                        p.pricing-rate
                            span One-time purchase: $799

                #pricing-plans.text-center.clearfix
                    .show-for-small-only.text-left
                        h2.mhead Our plans
                        hr
                    dl.tabs.left(data-tab="")
                        dd(name="Indie")
                            a(href="#panel-1") Indie
                        dd(name="Small")
                            a(href="#panel-2") Small
                        dd.active(name="Medium")
                            a(href="#panel-3") Medium
                        dd(name="Enterprise")
                            a(href="#panel-4") Enterprise
                    .tabs-content
                        #panel-1.content
                            ul.large-block-grid-4.medium-block-grid-4.small-block-grid-1
                                li
                                    p 3
                                    p Hours/month
                                li
                                    p 3 months
                                    p Minimum commitment
                                li
                                    p 10%
                                    p Consultancy discount
                                li
                                    p 24h
                                    p Initial response time
                                li
                                    p 1
                                    p Named contacts
                                li
                                    p No
                                    p Custom license
                                li
                                    p Current
                                    p Version supported
                                li
                                    p No
                                    p Kick-off meeting
                        #panel-2.content
                            ul.large-block-grid-4.medium-block-grid-4.small-block-grid-1
                                li
                                    p 20
                                    p Hours/month
                                li
                                    p 4 months
                                    p Minimum commitment
                                li
                                    p 15%
                                    p Consultancy discount
                                li
                                    p 12h
                                    p Initial response time
                                li
                                    p 3
                                    p Named contacts
                                li
                                    p Yes
                                    p Custom license
                                li
                                    p Current
                                    p Version supported
                                li
                                    p Yes
                                    p Kick-off meeting
                        #panel-3.content.active
                            ul.large-block-grid-4.medium-block-grid-4.small-block-grid-1
                                li
                                    p 40
                                    p Hours/month
                                li
                                    p 6 months
                                    p Minimum commitment
                                li
                                    p 20%
                                    p Consultancy discount
                                li
                                    p 8h
                                    p Initial response time
                                li
                                    p 5
                                    p Named contacts
                                li
                                    p Yes
                                    p Custom license
                                li
                                    p All
                                    p Versions supported
                                li
                                    p Yes
                                    p Kick-off meeting
                        #panel-4.content
                            ul.large-block-grid-4.medium-block-grid-4.small-block-grid-1
                                li
                                    p Unlimited
                                    p Hours/month
                                li
                                    p 12 months
                                    p Minimum commitment
                                li
                                    p 25%
                                    p Consultancy discount
                                li
                                    p < 8h
                                    p Initial response time
                                li
                                    p Unlimited
                                    p Named contacts
                                li
                                    p Yes
                                    p Custom license
                                li
                                    p All
                                    p Versions supported
                                li
                                    p Yes
                                    p Kick-off meeting
                        a.button.left(href="/contact-us.html") Get in touch #{""}
                            i.fa.fa-chevron-right
                        img.paypal-badge(src="#{data.baseUrl}images/paypal-badge.png", alt="PayPal options")
                .row.price-faq
                    h2.mhead.text-center Frequently Asked Questions
                    .small-10.small-centered.columns.text-left
                        .row
                            .large-5.medium-5.columns
                                h3 Can I use Handsontable for free?
                                p
                                    | Of course, feel free to download the latest version from our #{""}
                                    a(href="https://github.com/handsontable/handsontable", target="_blank") GitHub repository #{""}
                                        i.fa.fa-external-link
                                h3 Are there any additional costs?
                                p
                                    | Absolutely no hidden costs or legal tricks. We strive to be as transparent as possible.
                                h3 What is the license of Handsontable?
                                p
                                    | It is released under #{""}
                                    a(href="/licensing.html") the MIT license #{""}
                                    | so feel free to use our data grid in either private or commercial projects.
                                h3 Can I use Handsontable in many projects?
                                p The number of websites and projects in which you can use Handsontable is unlimited.
                                h3 Do you provide a staging server during work?
                                p
                                    | Every project is specific so we don't have a single pattern on how we test and publish our work. You can provide us with access to your dev enviroment but it's not a requirement.
                                h3 How do I get in touch with you?
                                p
                                    | Depending on which pricing plan you choose, we can support you by email, phone, Skype, Google Hangouts or ticketing system.
                            .large-5.medium-5.columns
                                h3 How many issues can I report?
                                p There are absolutely no limits in the number of issues that can be reported.
                                h3 Do my unused support hours rollover to the next month?
                                p
                                    | Yes, your unused hours remain accumulated for up to 6 months. You'll receive access to a ticketing system where you see hours spent on issues on an ongoing basis.
                                h3 Can you help me with upgrading Handsontable to the newest version?
                                p
                                    | Yes, you can use your monthly hour limit to let us upgrade your implementation of Handsontable. If the estimated effort goes beyond your plan, we can still help you, in which case simply contact us.
                                h3 Can you develop a new feature for me?
                                p
                                    | Yes, we'll tailor Handsontable to your needs. If the estimated workload exceeds your pricing plan we go with an hourly rate of $#{hourly_rate}.
                                h3 How do you provide time-tracking and reports?
                                p
                                    | We use #{""}
                                    a(href="https://redbooth.com", target="_blank") RedBooth #{""}
                                        i.fa.fa-external-link
                                    | #{""}
                                    | to keep up with tasks and projects. We'll set up accounts for members of your organization.
