doctype 5
html
    head
        block variables
            - var page_name = page_name || "undefined"
            - var page_class = page_class || "undefined"
            - var page_subclass = page_subclass || " "
            - var title = title || "undefined"
            - var description = description || "undfined"

        title #{title} #{""}
            | | Handsontable - JavaScript data grid editor. Excel-like grid editing with HTML & JavaScript
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="description", content="#{description}")
        include ../pages/_favicons
        script(src="#{data.baseUrl}bower_components/foundation/js/vendor/modernizr.js")
        link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")
        link(href="#{data.baseUrl}bower_components/handsontable/dist/handsontable.full.min.css", rel="stylesheet")
        link(href="#{data.baseUrl}bower_components/pikaday/css/pikaday.css", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);", rel="stylesheet")

        script
          var hotVersion = "#{data.hotVersion}"
          var baseUrl = "#{data.baseUrl}"

    body(class="#{page_class} #{page_subclass}")
        include ../pages/tag_manager.jade
        header
            block navigation
                include ../pages/_menu.jade
        .banner
            block banner
                nav.show-for-medium-up
                    .row
                        .breadcrumbs
                            a(href="#{data.baseUrl}") Home
                            span #{page_name}
        .content
            block content
        .footer
            block footer
                include ../pages/_footer.jade
        block scripts
            script(src="#{data.baseUrl}bower_components/jquery/jquery.min.js")
            script(src="#{data.baseUrl}bower_components/foundation/js/vendor/fastclick.js")
            script(src="#{data.baseUrl}bower_components/foundation/js/foundation.js")
            script(src="#{data.baseUrl}bower_components/moment/moment.js")
            script(src="#{data.baseUrl}bower_components/pikaday/pikaday.js")
            script(src="#{data.baseUrl}bower_components/chroma-js/chroma.min.js")
            script(src="#{data.baseUrl}bower_components/handsontable/dist/handsontable.full.min.js")
            script(src="#{data.baseUrl}bower_components/ruleJS/dist/full/ruleJS.all.full.js")
            script(src="#{data.baseUrl}bower_components/handsontable-ruleJS/src/handsontable.formula.js")

            script(src="#{data.baseUrl}scripts/main.js")
            script#github-bjs(async="", defer="", src="https://buttons.github.io/buttons.js")
            script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            script
                (function($) {
                    $(document).foundation();
                })(jQuery);
