doctype 5
html
    head
        block variables
            - var page_name = page_name || "undefined"
            - var page_class = page_class || "undefined"
            - var page_subclass = page_subclass || " "
            - var title = title || "undefined"
            - var description = description || "undfined"

        title #{title} #{""}
            | | Handsontable - Excel-like spreadsheet for web apps. Ready to use, open and free JavaScript component.
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="description", content="#{description}")

        include ../pages/_favicons

        script(src="#{data.baseUrl}bower_components/foundation/js/vendor/modernizr.js")
        link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")(data-jsfiddle="common")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);", rel="stylesheet")

        script(src="#{data.baseUrl}bower_components/jquery/jquery.min.js")
        script(src="#{data.baseUrl}bower_components/foundation/js/vendor/fastclick.js")
        script(src="#{data.baseUrl}bower_components/foundation/js/foundation.js")
        script(src="#{data.baseUrl}bower_components/jquery.countdown/dist/jquery.countdown.min.js")

    body(class="#{page_class} #{page_subclass}")
        include ../pages/tag_manager.jade

        .content
            block content

        .footer
            block footer
                include ../pages/_footer.jade
        block scripts
            script.
                (function($) {
                    $(document).foundation();
                })(jQuery);
